.uk-container {
  max-width: none;
}

.uk-navbar-container {
  background-color: #fff;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 5;
}

.navbar-item a {
  color: #4B87F0!important;
  font-weight: bold;
}

.navbar-item a:hover {
  color: #5F94F0!important;
}
